
<h1>New Country</h1>

<div class="container">
	<div class="row">
        <%= render 'form', country: @country %>
    </div>
</div>
<%= link_to 'Back', countries_path, :class=>'btn btn-outline-secondary' %>
