<h1>Editing Ticket</h1>
<div class="container">
  <%= render partial: 'shared/form', :locals => { parent: @passenger, pl_text: "Ticket", children: @ticket} %>


      <tr class="container-fluid pull-right">

              <td><%= link_to 'Back', passenger_path(@passenger), :class=>'btn btn-outline-secondary', data: { confirm: 'Are you sure?' } %></td>
      </tr>
</div>
