<% if @ticket.errors.any? %>
  <div id="error_explanation">
        <ul>
    <% @ticket.errors.full_messages.each do |message| %>
      <li class="alert alert-danger"><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <h3> Create Ticket:</h3>

  <%= render partial: 'shared/form', :locals => { parent: @passenger, pl_text: "Ticket", children: @passenger.tickets.build } %>

  <%= link_to 'Back', passenger_path(@passenger) , :class=>'btn btn-outline-secondary' %>
