  <%#= link_to 'New category', categories_path(country_id: @country.id), method: :post, :class=>'btn btn-default' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-2 white-text text-center text-md-left">
        <td><%= link_to 'Back', passenger_path(@ticket.passenger) , :class=>'btn btn-light' %></td>
        <%= render partial: 'shared/card', :locals => { parent: @passenger, pl_text: "Ticket", children: @ticket} %>

        <%= render partial: 'shared/list', :locals => { elements: @passenger.tickets, country: "ticket"} %>

        <!-- /col-sm-5 -->
      </div>

  </div>
</div>
